/* MoneyTrack Color */
:root {
  --trk-ivory: #EDF1D6;
  --trk-light-yellow: #F9E0BB;
  --trk-yellow: #FFC26F;
  --trk-light-green: #9DC08B;
  --trk-green: #609966;
  --trk-dark-green: #40513B;
}

/* MoneyTrack Backgorund */
.trk-bg-1 {
  background-color: var(--trk-ivory);
}
.trk-bg-2 {
  background-color: var(--trk-light-yellow);
}
.trk-bg-3 {
  background-color: var(--trk-yellow);
}
.trk-bg-4 {
  background-color: var(--trk-light-green);
}
.trk-bg-5 {
  background-color: var(--trk-green);
}
.trk-bg-6 {
  background-color: var(--trk-dark-green);
}

/* MoneyTrack Text Color */
.trk-text-1 {
  color: var(--trk-ivory);
}
.trk-text-2 {
  color: var(--trk-light-yellow);
}
.trk-text-3 {
  color: var(--trk-yellow);
}
.trk-text-4 {
  color: var(--trk-light-green);
}
.trk-text-5 {
  color: var(--trk-green);
}
.trk-text-6 {
  color: var(--trk-dark-green);
}

/* MoneyTrack Border Color */
.trk-br-1 {
  border: 1px var(--trk-ivory) solid;
}
.trk-br-2 {
  border: 1px var(--trk-light-yellow) solid;
}
.trk-br-3 {
  border: 1px var(--trk-yellow) solid;
}
.trk-br-4 {
  border: 1px var(--trk-light-green) solid;
}
.trk-br-5 {
  border: 1px var(--trk-green) solid;
}
.trk-br-6 {
  border: 1px var(--trk-dark-green) solid;
}