/* MoneyTrack Backgorund */
.trk-bg-1 {
  background-color: #EDF1D6;
}
.trk-bg-2 {
  background-color: #F9E0BB;
}
.trk-bg-3 {
  background-color: #FFC26F;
}
.trk-bg-4 {
  background-color: #9DC08B;
}
.trk-bg-5 {
  background-color: #609966;
}
.trk-bg-6 {
  background-color: #40513B;
}

/* MoneyTrack Text Color */
.trk-text-1 {
  color: #EDF1D6;
}
.trk-text-2 {
  color: #F9E0BB;
}
.trk-text-3 {
  color: #FFC26F;
}
.trk-text-4 {
  color: #9DC08B;
}
.trk-text-5 {
  color: #609966;
}
.trk-text-6 {
  color: #40513B;
}

/* MoneyTrack Border Color */
.trk-br-1 {
  border: 1px#EDF1D6 solid;
}
.trk-br-2 {
  border: 1px#F9E0BB solid;
}
.trk-br-3 {
  border: 1px#FFC26F solid;
}
.trk-br-4 {
  border: 1px#9DC08B solid;
}
.trk-br-5 {
  border: 1px#609966 solid;
}
.trk-br-6 {
  border: 1px#40513B solid;
}
