* {
  margin: 0;
  padding: 0;
}

.statistics-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #fce4bc;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  border-radius: 4rem;
  margin: 3rem;
}

button {
  padding: 0.6rem 1.2rem;
  background-color: #609966;
  border-radius: 1rem;
  border: none;

  font-size: 1rem;
  color: #333;
  font-weight: 500;
  cursor: pointer;
  margin: 0.5rem;
  text-align: center;
}

.filter-box {
  font-size: 1.2rem;
  justify-items: center;
}

.type_buttons,
.date_navigation,
.period_buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
  font-family: sans-serif;
}

.date_navigation button {
  border: none;
}
.statistic-graph button {
  border-radius: 30px;
}
.statistic-graph {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  max-width: 1100px;
  max-height: auto;
  margin-top: 1rem;
  justify-content: center;
}
.chart_box button {
  align-self: flex-end;
  margin-top: 0;
  color: white;
}

.chart_box {
  flex: 1 1 400px;
  max-width: 700px;
  padding: 5rem;
  background-color: #fffecf;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  max-height: 500px;
}

.category_box {
  max-width: 300px;
  background-color: #fffecf;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.confirm_year_only {
  border-radius: 30px;
  z-index: 30;
}

@media screen and (max-width: 768px) {
  .statistics-page {
    padding: 1rem;
  }

  .chart-box {
    width: 100%;
    max-width: 100%;
  }
}
.category__ratio {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  gap: 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  border-radius: 1rem;
  background-color: #fffecf;
}
