/* expense Page */
.expense-full-container {
  display: flex;
  border-radius: 1.25rem;
  padding: 2rem;
  margin: 2rem;
}

@media (max-width: 1024px) {
  .expense-full-container {
    display: block;
    background-color: transparent;
    margin: 0;
    padding: 0;
  }
}
