/* init refac 예정 */
/* 달력 */
.calendar {
  display: grid;
  grid-auto-rows: 0.1fr 0.1fr 1fr;
  border-radius: 2.4rem;
  width: 68%;
  padding: 0 0 1rem 0;
  margin: 0 auto;
  font-family: sans-serif;
  background-color: var(--trk-ivory);
}
.calendar__header {
  height: 5rem;
  background-color: var(--trk-green);
  display: flex;
  border-radius: 2.4rem 2.4rem 0 0;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  padding: clamp(4px, 1.6rem, 8px);
}
.calendar__header select,
.calendar__header__selects__confirm-button {
  background-color: white;
  font-size: 1.6rem;
  padding: 0.2rem 0.4rem;

  border-radius: 0.4rem;
  margin: 0 0 0 0.8rem;
  text-align: center;
  font-weight: bold;
}

.calendar__header__button {
  font-size: 2rem;
  margin: 0 4%;
  color: white;
  border: none;
  background-color: transparent;
}
.calendar__weekdays,
.calendar__grid {
  font-weight: bold;
  font-size: 1.6rem;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}
.calendar__weekdays {
  font-weight: bold;
}
.calendar__weekdays__day {
  padding: 1rem;
  position: relative;
}

.sunday {
  color: red;
}

.saturday {
  color: blue;
}

/* 구조 */

.filter-container {
  position: relative;
  text-align: left;
  width: 28%;
  padding: 2% 2%;
  background-color: var(--trk-ivory);
  border-radius: 2.4rem;
  height: 80vh;
  overflow-y: scroll;
}

.filter-container__box {
  font-weight: bold;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem auto;
  width: 100%;
  background-color: transparent;
  border-radius: 1.2rem;
  font-size: 1.6rem;
}
.filter-container__box__left i {
  text-align: center;
  align-content: center;
  height: 4rem;
  aspect-ratio: 1 / 1;
  font-size: 2rem;
  border-radius: 50%;
}
.filter-container__box__item :nth-child(1) {
  font-size: 1.4rem;
}
.filter-container__box__item :nth-child(2) {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
}
.filter-container__box__left {
  text-align: left;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.flex {
  display: flex;
}

@media (max-width: 1024px) {
  .flex {
    display: block;
  }
  .calendar {
    width: 90%;
    height: auto;
  }

  .calendar__grid__cell {
    height: clamp(20px, 8vh, 100px);
  }

  .filter-container__box {
    height: 6rem;
    background-color: var(--trk-ivory);
    padding: 2% 4%;
    font-size: 2rem;
  }
}

.pointer {
  cursor: pointer;
}

/* 체크 박스 선택(버튼형) */

.radio-button {
  background-color: white;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 12px;
  border-radius: 1rem;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}

.radio-button {
  border-radius: 2rem;
}

select {
  appearance: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 12px;
  border-radius: 10px;
  background-color: white;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}
