html {
  font-size: clamp(4px, 1vw, 12px);
}

/* 상단 버튼 */
.button-container {
  width: 90%;
  display: flex;
  justify-content: end;
  margin: 1rem auto;
}
.button-container__button-box {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #ffc26f;
}
.button-container__button-box__button {
  background-color: #edf1d6;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  border: 0;
}

/* 달력 */
.calendar {
  display: grid;
  grid-auto-rows: 0.1fr 0.1fr 1fr;
  border-radius: 2.4rem;
  width: 68%;
  padding: 0 0 1rem 0;
  margin: 0 auto;

  font-family: sans-serif;
  background-color: #edf1d6;
}
.calendar__header {
  height: 5rem;
  background-color: #609966;
  display: flex;
  border-radius: 2.4rem 2.4rem 0 0;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  padding: clamp(4px, 1.6rem, 8px);
}
.calendar__header select,
.calendar__header__selects__confirm-button {
  background-color: white;
  font-size: 1.6rem;
  padding: 0.2rem 0.4rem;

  border-radius: 0.4rem;
  margin: 0 0 0 0.8rem;
  text-align: center;
  font-weight: bold;
}

.calendar__header__button {
  margin: 0 4%;
  color: white;
  border: none;
  background-color: transparent;
}
.calendar__weekdays,
.calendar__grid {
  font-weight: bold;
  font-size: 1.6rem;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}
.calendar__weekdays {
  font-weight: bold;
}
.calendar__weekdays__day {
  padding: 1rem;
  position: relative;
}
.calendar__grid__cell {
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-radius: 1rem;
  padding: 0.4rem 0;

  height: clamp(10px, 12vh, 200px);
  position: relative;
  cursor: pointer;
}

.calendar__grid__cell:active {
  background-color: #60996626;
}

.calendar__grid__cell.selected {
  background-color: #6099667d;
}

.date-number {
  font-weight: bold;
  font-size: 1.6rem;
}

.summary {
  margin: auto;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.2rem;
}
.summary__income {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 44%;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  color: green;
}
.summary__expense {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 44%;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  color: red;
}
.selected-info {
  margin-top: 1rem;
  font-weight: bold;
  text-align: center;
  color: #333;
}

.sunday {
  color: red;
}

.saturday {
  color: blue;
}

/* 구조 */

.filter-container {
  position: relative;
  text-align: left;
  width: 28%;
  padding: 2% 2%;
  background-color: #edf1d6;
  border-radius: 2.4rem;
}
.filter-container__header {
  font-size: 2rem;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
}
.summary-box {
  display: flex;
  font-size: 1.6rem;
  font-weight: bold;
  padding-top: 1rem;
  justify-content: space-between;
}

.summary-box :nth-child(1) {
  color: rgba(0, 0, 0, 0.3);
}
.filter-container__box {
  font-weight: bold;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem auto;
  width: 100%;
  background-color: transparent;
  border-radius: 1.2rem;
  font-size: 1.6rem;
}
.filter-container__box__left i {
  text-align: center;
  align-content: center;
  height: 4rem;
  aspect-ratio: 1 / 1;
  font-size: 2rem;
  border-radius: 50%;
}
.filter-container__box__item :nth-child(1) {
  font-size: 1.4rem;
}
.filter-container__box__item :nth-child(2) {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
}
.filter-container__box__left {
  text-align: left;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.filter-panel {
  font-weight: bold;
  background-color: #f9e0bb;
  position: absolute;
  width: 90%;
  border-radius: 2rem;
  right: 5%;
  z-index: 999;
  padding: 1rem;
  margin: 1rem 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.filter-panel select {
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
}
.flex {
  display: flex;
}

/* plus button */
.plus_button {
  position: absolute;
  right: 4%;
  bottom: 4%;
  width: clamp(10px, 8rem, 70px);
  height: clamp(10px, 8rem, 70px);
  border-radius: 50%;
  border: 0;
  background-color: #609966;
}
.plus_button * {
  color: #ffc26f;
  margin: auto;
  font-size: clamp(5px, 4rem, 35px);
}

.expense-full-container {
  display: flex;
  background-color: #f9e0bb;
  border-radius: 1.25rem;
  padding: 2rem;
  margin: 2rem;
}

@media (max-width: 1024px) {
  .expense-full-container {
    display: block;
    background-color: transparent;
    margin: 0;
    padding: 0;
  }
  .hidden {
    display: none;
  }
  .flex {
    display: block;
  }
  .calendar {
    width: 90%;
    height: auto;
  }
  .filter-container {
    width: 94%;
    margin: auto;
    background-color: transparent;
  }
  .filter-panel {
    padding: 2%;
    width: 52%;
    right: 2%;
  }
  .calendar__grid__cell {
    height: clamp(20px, 8vh, 100px);
  }
  .plus_button {
    position: fixed;
  }
  .filter-container__box {
    height: 6rem;
    background-color: #edf1d6;
    padding: 2% 4%;
    font-size: 2rem;
  }
}

.pointer {
  cursor: pointer;
}

/* 체크 박스 선택(버튼형) */
.hidden-checkbox {
  display: none;
}
.chcekbox-button,
.radio-button {
  background-color: white;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 12px;
  border-radius: 1rem;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}
.radio-button {
  border-radius: 2rem;
}
.chcekbox-button.selected {
  background-color: #000000;
  color: white;
}
select {
  appearance: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 12px;
  border-radius: 10px;
  background-color: white;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}
