* {
  margin: 0;
  padding: 0;
}
.content-box {
  display: flex;
}
.detail-box {
  border-radius: 2.4rem;
  width: 68%;
  padding: 0 0 1rem 0;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.detail-box__header {
  margin-top: 2rem;
  width: 90%;
  position: relative;
}
.detail-box__header__button {
  position: absolute;
  left: 2rem;
  cursor: pointer;
}
.detail-box__header__title {
  font-weight: bold;
  font-size: larger;
}
.detail-box__item {
  background-color: white;
  text-align: center;
  max-width: 1024px;
  border-radius: 20px;
  height: 90%;
  width: 90%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border: 2px solid rgb(173, 173, 173);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.detail-box__item__text {
  width: 80%;
  overflow-y: auto;
  padding: 3rem 0;
}

.amount {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.amount-value {
  color: blue;
  font-weight: bold;
  font-size: xx-large;
  word-break: break-word; /*줄바꿈 설정*/
}
.amount-unit {
  font-weight: bold;
  font-size: xx-large;
  margin-bottom: 2.5rem;
  word-break: break-word; /*줄바꿈 설정*/
}

.info {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.info-row {
  display: flex;
  gap: 3rem;
  justify-content: flex-start;
  flex-wrap: wrap; /*줄바꿈 설정*/
}

.label {
  width: 12rem;
  font-weight: bold;
  text-align: left;
}

.value {
  flex: 1;
  text-align: left;
}

.detail-box__item__button {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 80%;
  display: flex;
  gap: 2rem;
}

.full-container {
  display: flex;

  border-radius: 1.25rem;
  padding: 2rem;
  margin: 2rem;
}

@media (max-width: 1024px) {
  .full-container {
    display: block;
    background-color: transparent;
    margin: 0;
    padding: 0;
  }
  .hidden {
    display: none;
  }
  .flex {
    display: block;
  }
  .detail-box {
    width: 90%;
    height: auto;
  }
  .filter-container {
    width: 94%;
    margin: auto;
    background-color: transparent;
  }
  .filter-panel {
    padding: 2%;
    width: 58%;
    right: 2%;
  }

  .plus_button {
    position: fixed;
  }
  .filter-container__box {
    height: 6rem;
    padding: 2% 4%;
    font-size: 2rem;
  }
}
