* {
  margin: 0;
  padding: 0;
}
.content-box {
  background-color: #f9e0bb;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.detail-box {
  background-color: #edf1d6;
  border-radius: 20px;
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.detail-box__header {
  margin-top: 2rem;
  width: 90%;
  position: relative;
}
.detail-box__header__button {
  position: absolute;
  left: 2rem;
  cursor: pointer;
}
.detail-box__header__title {
  font-weight: bold;
  font-size: larger;
}
.detail-box__item {
  background-color: white;
  text-align: center;
  max-width: 1024px;
  border-radius: 20px;
  height: 90%;
  width: 90%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border: 2px solid rgb(173, 173, 173);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.detail-box__item__text {
  width: 80%;
  overflow-y: auto;
  padding: 3rem 0;
}

.amount {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.amount-value {
  color: blue;
  font-weight: bold;
  font-size: xx-large;
  word-break: break-word; /*줄바꿈 설정*/
}
.amount-unit {
  font-weight: bold;
  font-size: xx-large;
  margin-bottom: 2.5rem;
  word-break: break-word; /*줄바꿈 설정*/
}

.info {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.info-row {
  display: flex;
  gap: 3rem;
  justify-content: flex-start;
  flex-wrap: wrap; /*줄바꿈 설정*/
}

.label {
  width: 12rem;
  font-weight: bold;
  text-align: left;
}

.value {
  flex: 1;
  text-align: left;
}

.detail-box__item__button {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 80%;
  display: flex;
  gap: 2rem;
}

.detail-box__item__button__item {
  flex: 1;
  margin-top: 4rem;
  background-color: #609966;
  border: none;
  border-radius: 10px;
  height: 5rem;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}
